body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 30px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    color: #3627be;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    max-width: 1000px;
}

.photo-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards;
}

.photo-block:nth-child(even) {
    animation-delay: 0.3s;
}

.photo-block:nth-child(odd) {
    animation-delay: 0.6s;
}

.photo {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.content {
    flex: 1;
}

.description {
    margin-bottom: 10px;
}

.title {
    font-weight: bolder;
    font-size: x-large;
    color: #be273e;
}
.next-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #5537e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #4328b6;
}
.song{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
